CREATE DATABASE JINGANI;
USE JINGANI;
CREATE TABLE `Painter` (
`Name` varchar(20) NOT NULL,
`Sex` varchar(2) NOT NULL,
`Style` varchar(20) NULL,
`Level` int(1) NULL,
`password` varchar(20) NOT NULL,
PRIMARY KEY (`Name`) 
);

CREATE TABLE `Ori_paint` (
`Num` varchar(10) NOT NULL,
`Source` varchar(30) NOT NULL,
`Painter_name` varchar(20) NOT NULL,
`Style` varchar(20) NOT NULL,
`Quality` int(1) NOT NULL,
PRIMARY KEY (`Num`) 
);

CREATE TABLE `Editor` (
`Name` varchar(20) NOT NULL,
`Sex` varchar(2) NULL,
`max_edit` int(1) NOT NULL,
`now_edit` int(1) NOT NULL,
`queue_edit` int(1) NOT NULL,
`Level` int(1) NOT NULL,
`password` varchar(20) NOT NULL,
PRIMARY KEY (`Name`) 
);

CREATE TABLE `TV_station` (
`Name` varchar(50) NOT NULL,
`Local` varchar(20) NULL,
`Credit` int(1) NOT NULL,
`Value` int(1) NOT NULL,
`Reputation` int(1) NOT NULL,
`password` varchar(20) NOT NULL,
PRIMARY KEY (`Name`) 
);

CREATE TABLE `Check` (
`ori_p_num` varchar(10) NOT NULL,
`Edit_name` varchar(20) NOT NULL,
`Source` varchar(30) NOT NULL,
`Painter_name` varchar(20) NOT NULL,
`Status` varchar(10) NOT NULL,
`Quality` int(1) NULL,
`pass_time` datetime NULL,
`instorige` bit(1) NOT NULL,
PRIMARY KEY (`ori_p_num`, `Edit_name`) 
);

CREATE TABLE `Storage` (
`paint_num` varchar(10) NOT NULL,
`edit_name` varchar(20) NOT NULL,
`store_time` datetime NOT NULL,
PRIMARY KEY (`paint_num`, `edit_name`) 
);

CREATE TABLE `TV_list` (
`TV_name` varchar(50) NOT NULL,
`Anime` varchar(50) NOT NULL,
`Source` varchar(30) NOT NULL,
`Episode` int(1) NOT NULL,
`start_time` datetime NOT NULL,
`end_time` datetime NOT NULL,
PRIMARY KEY (`TV_name`, `Anime`, `Source`, `Episode`) 
);

CREATE TABLE `Admit` (
`Account` varchar(20) NOT NULL,
`password` varchar(20) NOT NULL,
PRIMARY KEY (`Account`) 
);


ALTER TABLE `Check` ADD CONSTRAINT `fk_Check_Painter_1` FOREIGN KEY (`Painter_name`) REFERENCES `Painter` (`Name`);
ALTER TABLE `TV_list` ADD CONSTRAINT `fk_TV_list_TV_station_1` FOREIGN KEY (`TV_name`) REFERENCES `TV_station` (`Name`);
ALTER TABLE `Check` ADD CONSTRAINT `fk_Check_Editor_1` FOREIGN KEY (`Edit_name`) REFERENCES `Editor` (`Name`);
ALTER TABLE `Ori_paint` ADD CONSTRAINT `fk_Ori_paint_Storage_1` FOREIGN KEY (`Num`) REFERENCES `Storage` (`paint_num`);
ALTER TABLE `Storage` ADD CONSTRAINT `fk_Storage_Editor_1` FOREIGN KEY (`edit_name`) REFERENCES `Editor` (`Name`);